<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="bottum" th:fragment="onloadJS">
    <img src="../../static/img/logo.png" th:src="@{/img/logo.png}"/>
    <div class="bottum_bl">
        <div class="logo">
            <img src=""/>
            <p>甘肃社区教育网</p>
        </div>
        <div class="new">
            <ul>
                <li style="font-weight: 600;font-size: 17px;">关于我们</li>
                <li>官网简介</li>
                <li>产品中心</li>
                <li>服务中心</li>
            </ul>
        </div>
        <div class="who">
            <ul>
                <li style="font-weight: 600;font-size: 17px;">联系我们</li>
                <li>联系电话：18133533421</li>
                <li>网站地址：www.gansustudy.com</li>
                <li>公司网址：291254322@company.com</li>
                <li>公司地址：甘肃省兰州市</li>
            </ul>
        </div>
        <div class="web">
            <img src=""/>
            <p>官方微博</p>
        </div>
        <div class="web">
            <img src=""/>
            <p>官方微博</p>
        </div>
    </div>
</div>

</body>
</html>