<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="onloadCss">
    <link rel="stylesheet" href="../../static/css/global.css" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" href="../../static/css/index.css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="../../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}"/>
    <!--<link rel="stylesheet" href="../../static/iconfont/iconfont.css" th:href="@{/iconfont/iconfont.css}"/>-->
    <link rel="stylesheet" href="../../static/bootstrap-3.3.7-dist/css/bootstrap.min.css" th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.min.css}"/>
</div>
</body>
</html>