<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zr.gansu.dao.QuestionMapper" >

  <resultMap id="BaseResultMap" type="com.zr.gansu.domain.Question" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="question" property="question" jdbcType="VARCHAR" />
    <result column="questionnaire_id" property="questionnaireId" jdbcType="BIGINT" />
    <result column="question_no" property="questionNo" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
  </resultMap>

  <!--查询调查问卷的问题和选项内容-->
  <resultMap id="QuestionResultMap" type="com.zr.gansu.domain.Question">
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="question" property="question" jdbcType="VARCHAR" />
    <result column="question_no" property="questionNo" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <collection property="options"  ofType="com.zr.gansu.domain.Option" columnPrefix="op_">
      <id property="id" column="id" jdbcType="BIGINT"/>
      <result property="options" column="options" jdbcType="BIGINT"/>
      <result property="content" column="content" jdbcType="VARCHAR"/>
    </collection>
  </resultMap>

  <sql id="Base_Column_List" >
    id, question, questionnaire_id, question_no, type, gmt_create, gmt_modified, is_deleted
  </sql>

  <sql id="Question_Column_List">
    q.id,q.question,q.type,q.question_no,
</sql>

  <sql id="Option_Column_List">
    op.id as op_id,op.options as op_options,op.content as op_content,op.gmt_create as op_gmt_create
</sql>

  <!--查询调查问卷的问题和选项内容-->
  <select id="selectQuAndOptions" resultMap="QuestionResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Question_Column_List" />
    <include refid="Option_Column_List" />
      from tbl_question q,tbl_option op
      where q.id = op.question_id and q.id = #{id,jdbcType=BIGINT} and op.is_deleted = 1
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tbl_question
    where id = #{id,jdbcType=BIGINT}
  </select>

  <!--删除未保存状态下的调查问卷问题信息-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tbl_question
    where questionnaire_id = #{questionnaireId,jdbcType=BIGINT}
  </delete>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id"  parameterType="com.zr.gansu.domain.Question" >
    insert into tbl_question (id, question, questionnaire_id, 
      question_no, type, gmt_create,
      gmt_modified, is_deleted)
    values (#{id,jdbcType=BIGINT}, #{question,jdbcType=VARCHAR}, #{questionnaireId,jdbcType=BIGINT}, 
      #{questionNo,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{gmtCreate,jdbcType=TIMESTAMP},
      #{gmtModified,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=INTEGER})
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.zr.gansu.domain.Question" >
    update tbl_question
    <set >
      <if test="question != null" >
        question = #{question,jdbcType=VARCHAR},
      </if>
      <if test="questionnaireId != null" >
        questionnaire_id = #{questionnaireId,jdbcType=BIGINT},
      </if>
      <if test="questionNo != null" >
        question_no = #{questionNo,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!--删除问卷问题  逻辑删除-->
  <update id="updateIsDeleted" parameterType="com.zr.gansu.domain.Question" >
    update tbl_question
    set is_deleted = 0
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>