<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>账号新增</title>

		<link rel="stylesheet" href="../static/css/global.css" />
		<link rel="stylesheet" href="../static/css/index.css" />
		<link rel="stylesheet" href="../static/layui/css/layui.css" />
	</head>

	<body>
		<p class="name">你好：<span>管理员</span></p>
		<div class="account_ad">

			<div class="acc">
				<p class="p1">账号新增</p>
				<p class="p2">返回</p>
			</div>

			<div class="acc_min">

				<div style="display: flex;">
					<div class="layui-form-item">
						<label class="layui-form-label">账号昵称</label>
						<div class="layui-input-block">
							<input type="text" placeholder="请输入账号昵称" class="layui-input">
						</div>
					</div>

					<div class="layui-form-item" style="margin-left: 90px;">
						<label class="layui-form-label">权限级别</label>
						<div class="layui-input-block" style="line-height: 36px;">
							<select class="sele">
								<option value="0">总站（一级管理员）</option>
								<option value="1">总站（二级管理员）</option>
							</select>
						</div>
					</div>

				</div>

				<div style="display: flex;margin-top: 30px;">
					<div class="layui-form-item">
						<label class="layui-form-label">联系号码</label>
						<div class="layui-input-block">
							<input type="text" placeholder="请输入联系号码" class="layui-input">
						</div>
					</div>

					<div class="layui-form-item" style="margin-left: 90px;">
						<label class="layui-form-label">电子邮箱</label>
						<div class="layui-input-block">
							<input type="text" placeholder="请输入电子邮箱" class="layui-input">
						</div>
					</div>

				</div>

			</div>

			<div class="acc_btn">
				<p class="btn_c">返回</p>
				<p class="btn_a">新增</p>
			</div>
		</div>
	</body>

</html>