<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>登录</title>
	</head>
	<link rel="stylesheet" href="../static/css/global.css" />
	<link rel="stylesheet" href="../static/css/index.css" />
	<link rel="stylesheet" href="../static/layui/css/layui.css" />
	<style>
		body,html{
			height: 100%;
		}
	</style>
	<body>
		<div class="body"></div>
		<div class="img1">
			<img src="../static/img/LOGO1.png"/>
		</div>
		<div class="body_book">
			<div class="book_left">
				
			</div>
			
			<div class="book_right">
				<p class="p1">甘肃社区教育网后台系统登录</p>
				
				<img src="../static/img/pic.png" class="img2"/>

				<div class="inp">
					<i class="layui-icon layui-icon-username"></i>
					<p></p>
					<div class="layui-form-item">
						<div class="layui-input-block" style="margin-left: 1px;">
							<input type="text" placeholder="请输入账号" class="layui-input" style="display: inline-block;border: none;width: 220px;">
						</div>
					</div>
				</div>
				
				<div class="inp">
					<i class="layui-icon layui-icon-password"></i>
					<p></p>
					<div class="layui-form-item">
						<div class="layui-input-block" style="margin-left: 1px;">
							<input type="text" placeholder="请输入密码" class="layui-input" style="display: inline-block;border: none;width: 220px;">
						</div>
					</div>
				</div>
				<a href=""><p class="p3">忘记密码？</p></a>
				
				<p class="p2">登录</p>
			</div>
			<div class="clear"></div>
		</div>
		
		
	</body>
</html>
