<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="onloadJS">
    <link rel="stylesheet" href="../../static/X-admin/css/font.css" th:href="@{/X-admin/css/font.css}"/>
    <link rel="stylesheet" href="../../static/X-admin/css/xadmin.css" th:href="@{/X-admin/css/xadmin.css}"/>
    <link rel="stylesheet" href="../../static/css/global.css" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" href="../../static/css/index.css" th:href="@{/css/index.css}" />
    <link rel="stylesheet" href="../../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}" />
    <script type="text/javascript" src="../../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" src="../../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
    <script type="text/javascript" src="../../static/X-admin/js/xadmin.js" th:src="@{/js/xadmin.js}"></script>
    <script type="text/javascript" src="../../static/X-admin/js/cookie.js" th:src="@{/X-admin/js/cookie.js}"></script>
</div>
</body>
</html>